@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gradient-to-br from-blue-300 via-purple-400 to-pink-300
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
input {
  @apply w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400
}

button {
  @apply w-full bg-teal-500 hover:bg-teal-600 text-white py-2 rounded-lg font-semibold transition
}

h1 {
  @apply text-2xl font-bold text-center text-gray-800 mb-6
}